# ============================================================
#  Konfigurasi Firebase (Web App)
#  Salin file ini menjadi `.env` lalu isi sesuai project Firebase Anda.
#  Dapatkan nilai-nilai ini di: Firebase Console > Project Settings > Your apps (Web)
# ============================================================

VITE_FIREBASE_API_KEY=AIzaSyBqrtP8rw8wD9b6cu95K1ZINPJ3TkOZcKA
VITE_FIREBASE_AUTH_DOMAIN=web-scan-fingerprint.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://nama-project-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=web-scan-fingerprint
VITE_FIREBASE_STORAGE_BUCKET=web-scan-fingerprint.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=197404710039
VITE_FIREBASE_APP_ID=1:1:197404710039:web:3a7934054907a9370045d2

# ID perangkat ESP32 default yang dipakai halaman Kiosk & Enroll
VITE_DEFAULT_DEVICE_ID=esp32-gerbang-1
